


<div class="row">
<div class="col-xs-6">
  <h1>Contact</h1>
  <form action="" method="post">
    <input
       name="_method"
       type="hidden"
       value="">
    <input
       name="authenticity_token"
       type="hidden"
       value="">

    <div class="form-group">
      <label for="full_name">Full Name</label>
      <input
        id="full_name"
        name="user[full_name]"
        type="text"
        class="form-control"
        placeholder="NYCKatLuver">
    </div>
    <br>

    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        id="email"
        name="user[email]"
        type="text"
        class="form-control"
        placeholder="NYCKatLuver4Ever87@aol.com">
    </div>
    <br>

    <button class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="col-xs-6">
  <h1>We've got your back.</h1>
  <br>

  Have a question or need help? Use the form or contact us at support@yourkatfoodsupply.com
  <br>
  <br>

  <h3>What's the status of my order?</h3>
  <br>

  We’re working on a way for you to check your order status online, but for now, our staff is on hand to assist. Monday–Friday, 9am–6pm ET.
  <br>
  You can also reach us via Twitter
  <br>

  <h3>How do I set up a return?</h3>
  <br>

  We have a 30-day, no-questions-asked return policy. Visit our Self Service Return Center so we can get started on the return process.
</div>
</div>